@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button class="btn btn-primary" @onclick="DoWrite">Write</button>
<button class="btn btn-primary" @onclick="DoClear">Clear</button>
<button class="btn btn-primary" @onclick="DoReset">Reset</button>
<button class="btn btn-primary" @onclick="DoBlur">Blur</button>
<button class="btn btn-primary" @onclick="DoFocus">Focus</button>
<button class="btn btn-primary" @onclick="DoFit">Fit</button>

<XTerm @ref="_terminalRef"></XTerm>

@code {
    private XTerm? _terminalRef;

    private async Task DoWrite()
    {
        if (_terminalRef is not null)
        {
            // include CRLF for xterm line break if desired
            await _terminalRef.Write("Hello from Home\r\n");
            await _terminalRef.Write("\x1b[31mRed \x1b[32mGreen \x1b[34mBlue\x1b[0m\r\n");
            await _terminalRef.Write("pomfpowmecpo peocm wpoemcpwoepo ecwmpomwpowecp ecwpowemcpo mwepocmwepompwempowempwec pwoemcpweocmp wemwepom ecwpomwecpomwec pwmepocwepomcwepomwecpwepmc pc mpwecompweomcwep cemwpo\r\n");
        }
    }

    private async Task DoClear()
    {
        if(_terminalRef is not null)
        {
            await _terminalRef.Clear();
        }
    }

    private async Task DoReset()
    {
        if(_terminalRef is not null)
        {
            await _terminalRef.Reset();
        }
    }

    private async Task DoBlur()
    {
        if(_terminalRef is not null)
        {
            await _terminalRef.Blur();
        }
    }

    private async Task DoFocus()
    {
        if(_terminalRef is not null)
        {
            await _terminalRef.Focus();
        }
    }

    private async Task DoFit()
    {
        if(_terminalRef is not null)
        {
            await _terminalRef.Fit();
        }
    }
}
