/* _content/BaksteenXTerm/BlinkyBall.razor.rz.scp.css */
body[b-89lf5bx1xy] {
}
/* _content/BaksteenXTerm/Component1.razor.rz.scp.css */

#h3[b-rn957h5cvs] {
    color: blue;
}

h3[b-rn957h5cvs] {
    color: blue;
}
/* _content/BaksteenXTerm/Miep.razor.rz.scp.css */
h1[b-60yd72f3ga] {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
